<h1> Edit a Book! </h1>

<%= form_with model: @book, method: :patch do |form|%>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :read %>
  <%= form.text_field :read %>
  <%= form.submit "Update" %>
<% end %>

<p><%= link_to 'Back to Books', books_path %></p>